.container {
  margin-top: 1rem;
}

.timer-display {
  font-size: 64px;
}

.timer-container {
  border-radius: 1rem;
  border: solid 2px #fff;
  padding: 1rem 2rem;
}

.timer-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.clear-button {
  margin-top: 3rem;
}
